/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

/* Main styles */
html {
  min-height: 100%;
}

body {
  font: 100%/1.5 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  color: #222;
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
}

h1 {
  font-size: 4.5em;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 0.3333em 0;
  font-weight: 700;
}

h2 {
  font-size: inherit;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1.5em;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

a:hover {
  color: #e05362;
}

code,
pre {
  background: #333;
  border-radius: 5px;
  padding: 12px 16px;
  line-height: 2em;
  font-family: "Monaco", "Courier New", Courier, monospace;
  font-size: 0.75em;
  color: #eeffff;
}

pre {
  overflow: auto;
}

footer {
  color: #999;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3em;
    line-height: 1;
    margin: 0.5em 0;
  }
}
