/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

:root {
  --siteColor: #a44a35;
}

/* Main styles */
html {
  min-height: 100%;
  font: 100%/1.5 "Archivo", -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  padding: 1.5rem;
}

body {
  color: #f2f2f2;
  background-color: var(--siteColor);
  max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

.tac {
  text-align: center;
}

h1 {
  font-size: 4.5em;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 0;
  font-weight: 700;
}

h2 {
  font-size: inherit;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1.5em;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

a:hover {
  color: #e05362;
}

code,
pre {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 0.75rem 1rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-family: "Cousine", "Monaco", "Courier New", Courier, monospace;
  color: var(--siteColor);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

pre {
  overflow: auto;
}

footer {
  color: #999;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3em;
    line-height: 1;
    margin: 0.5em 0;
  }
}
